.title {
    font-size: 45px;
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subtitle {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
